<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098205578075-eqknb8egiqosnle0uf8fk46l1f9ci5sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098205578075-eqknb8egiqosnle0uf8fk46l1f9ci5sh</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0CDH8hP37phpxeJiMsd62AImLC20ifU</string>
	<key>GCM_SENDER_ID</key>
	<string>1098205578075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harithakarma</string>
	<key>PROJECT_ID</key>
	<string>harithakarma</string>
	<key>STORAGE_BUCKET</key>
	<string>harithakarma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098205578075:ios:c6e31de847a1430f6bd07e</string>
</dict>
</plist>